

body {
    margin: 0;
}

body, html {
    height: 100%;
}

p, a, h1, h2, h3, h4, h5, label, .alert-box {
    font-family: Arial, Helvetica, sans-serif;
}

span {
    padding: 0.2em;
    font-size: 8pt;
    vertical-align: middle;
}

span a{
    text-decoration: none;
}

.primary a {
    text-decoration: none;
    color: #1bcfc9;
}

a:hover{
    cursor: pointer;
    color: teal;
}

.text-left { 
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.bg-primary{
    background-color: #1bcfc9;
}

.bg-secondary{
    background-color:  teal;
}

.primary{
    color: #1bcfc9;
}

.fa-10x{
    font-size: 4em !important;
    line-height: 1.5em !important;
}
/*********** Grid system *****************/
.grid-container {
    display: grid;
    grid-gap: 1em;
}

.grid-container.col-3 {
    grid-template-columns: auto auto auto; /* 3 columns */
}

.grid-container.col-2 {
    grid-template-columns: auto auto; /* 2 columns */
}

.grid-container.col-1 {
    grid-template-columns: auto; /* 2 columns */
}

.grid-item {
    padding: 0.5em;
    text-align: center;
}

.grid-sidebar-left {
    grid-column: 1;
    grid-row: 1;
}

.grid-main {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.grid-sidebar-right {
    grid-column: 4;
    grid-row: 1;
}

.grid-footer {
    grid-area: footer;
}

.grid-header {
    grid-area: header;
}

@media only screen and (max-width: 500px) {
    .grid-sidebar-left { 
        grid-column: 1 / span 4;
        grid-row: 1; 
    }
    .grid-main { 
        grid-column: 1 / span 4;
        grid-row: 2; 
    }
    /* on smaller screen override 100hv height value*/
    .h-100 {
        height: auto !important;
    }
}

form label {
    display: block;
}

.img {
    text-align: center;
    margin: 24px 0 12px 0;
}
  
.img .avatar {
    width: 20%;
    border-radius: 50%;
}

input[type=text], input[type=email], input[type=password], select {
    padding: 0.8em;
    margin-bottom: 1em;
    margin-top: 0.2em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/****************** standard margins and paddings *************************/
.p-0{
    padding: 0;
}

.p-1{
    padding: 0.2em;
}

.p-2{
    padding: 0.4em;
}

.p-3{
    padding: 0.6em;
}

.p-4{
    padding: 1em;
}

.p-5{
    padding: 1.4em;
}

.m-0{
    margin: 0;
}

.m-1{
    margin: 0.2em;
}

.m-2{
    margin: 0.4em;
}

.m-3{
    margin: 0.6em;
}

.m-4{
    margin: 0.8em;
}

.m-5{
    margin: 1em;
}

.m-6{
    margin: 1.2em;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.2em;
}

.mt-2 {
    margin-top: 0.4em;
}

.mt-3 {
    margin-top: 0.6em;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.2em;
}

.mb-2 {
    margin-bottom: 0.4em;
}

.mb-3 {
    margin-bottom: 0.6em;
}

.ml-1 {
    margin-left: 0.2em;
}

.ml-2 {
    margin-left: 0.4em;
}

.ml-3 {
    margin-left: 0.6em;
}

.mr-1 {
    margin-right: 0.2em;
}

.mr-2 {
    margin-right: 0.4em;
}

.mr-3 {
    margin-right: 0.6em;
}

.pt-1 {
    padding-top: 0.2em;
}

.pt-2 {
    padding-top: 0.4em;
}

.pt-3 {
    padding-top: 0.6em;
}

.pb-1 {
    padding-bottom: 0.2em;
}

.pb-2 {
    padding-bottom: 0.4em;
}

.pb-3 {
    padding-bottom: 0.6em;
}

.pl-1 {
    padding-left: 0.2em;
}

.pl-2 {
    padding-left: 0.4em;
}

.pl-3 {
    padding-left: 0.6em;
}

.pr-1 {
    padding-right: 0.2em;
}

.pr-2 {
    padding-right: 0.4em;
}

.pr-3 {
    padding-right: 0.6em;
}

.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
}

.w-50{
    width: 50%;
}

.mt-20 {
    margin-top: 20%;
}

.h-100 {
    height: 100vh;
}



/**************** form styles **********************/
input {
    outline: none;
}

input[type=submit], button{
    padding: 1em;
    color: white;
    border-radius: 3px;
    border: none;
}

input[type=submit], button:hover{
    cursor: pointer;
}

input[type=submit].button-primary, button.button-primary{
    background-color: #1bcfc9;
}

input[type=submit].button-primary:hover, button.button-primary:hover{
    background-color: teal;
}

input[type=submit].button-secondary, button.button-secondary{
    background-color:  teal;
}

button.button-white{
    background-color: #1bcfc9;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}

button.button-white:hover{
    background-color: #1bcfc9;

}

.input-container{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-container .icon {
    padding: 1em;
    min-width: 1.5em;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.8em;
}

input:focus {
    border: 1px solid #1bcfc9;
}

input.invalid{
    border: 2px solid rgb(219, 18, 18) !important;
}

.text-color-white {
    color: white !important;
}

.text-color-light {
    color: rgb(212, 211, 211) !important;
}

.background-color-dark {
    background-color: #282C35 !important;
}

.background-color-white {
    background-color: white !important;
}

section.blue {
    background: #00bbb3;
    background: -moz-linear-gradient(45deg, #00bbb3 0%, #2b88c6 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #00bbb3), color-stop(100%, #2b88c6));
    background: -webkit-linear-gradient(45deg, #00bbb3 0%, #2b88c6 100%);
    background: -o-linear-gradient(45deg, #00bbb3 0%, #2b88c6 100%);
    background: -ms-linear-gradient(45deg, #00bbb3 0%, #2b88c6 100%);
    background: linear-gradient(45deg, #00bbb3 0%, #2b88c6 100%);
}

.text-uppercase{
    text-transform: uppercase;
}

.text-lowercase{
    text-transform: lowercase;
}

.text-normal{
    font-style: normal;
}

.text-italic{
    font-style: italic;
}

.text-oblique{
    font-style: oblique;
}



/********** snackbar *****************/
.alert-box{
    padding: 0.8em;
    width: 60%;
    margin: auto;
    color: white;
    position:fixed;
    bottom: 0;
    left: 50%;
    z-index: 9999;
    transform: translateX(-50%);
    font-size: 14px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 62px -7px rgba(0,0,0,0.89);
    -moz-box-shadow: 0px 0px 62px -7px rgba(0,0,0,0.89);
    box-shadow: 0px 0px 62px -7px rgba(0,0,0,0.89);
}

.alert-box .closeBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-box .closeBtn:hover {
    color: black;
}

.alert-box.danger{
    background-color: #f44336;
}

.alert-box.warning{
    background-color: #ff9800;
}

.alert-box.success{
    background-color: #1bcfc9;
}



/************* NAvbar ******************/

.nav-dark{
    background: rgba(0,0,0,0.2);
}

.nav-icon {
    margin: 1em;
    width: 40px;
  }
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }
  
  .nav-icon:hover div, 
  .nav-icon:hover:after, 
  .nav-icon:hover:before {
    background-color: #1bcfc9;
  }

  .nav-icon.change::before{
    transform: translateY(12px) rotate(135deg);
  }
  .nav-icon.change::after{
    transform: translateY(-12px) rotate(-135deg);
  }
  .nav-icon.change div {
    transform: scale(0);
  }

  nav {
    overflow: hidden;
    width: 100%;
    z-index: 202;
  }
  
  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav a:hover {
    color: #1bcfc9;
  }
  
  nav a.active {
    background-color: #1bcfc9;
    color: white;
  }

  nav a.menu-right {
    float: right;
    display: block;
  }

  nav a.nav-logo{
      margin: 1em;
  }

  nav a.menu-link{
    margin: 1em;
    font-weight: 600;
    margin-right: 0;
    margin-top: 1.3em;
  }

  @media only screen and (min-width: 64.063em){
    nav {
        position: fixed;
        z-index: 9999;
    }

    nav.fixed {
        padding-top: 0.8em;
        background: rgba(0,0,0,0.2);
    }
  }

  /******* Navbar Sidebar ************/

  .sidebar {
    right:0;
    background-color: #3F4C58;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition:width 1s ease-out;
    width:0;
    overflow:hidden;
    width: 0px;
    z-index: 200;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    border-bottom: 2px solid white;
    margin: 1em 1em;
  }

  .sidebar a:hover {
    color: #1bcfc9;
    border-bottom: 2px solid #1bcfc9;
  }
   
  .sidebar a.active {
    color: #1bcfc9;
    border-bottom: 2px solid #1bcfc9;
  }

  .sidebar-spacer{
    min-height: 15%;
  }

  @media screen and (max-width: 600px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: absolute;
    }
    .menu-right.icon{
        display: none;
    }
    section{
        position: relative;
    }
    .header-banner{
        height: 100% !important;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  /********* Header Banner ***************/

  .header-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/businessman-3213659_1920.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
  }

  .header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .header-text p{
      line-height: 2em;
  }

  hr {
    border-color: #1bcfc9;
    width: 8em;
    clear: both;
    display: block;
    border: none;
    border-top: 6px solid #1bcfc9;
    margin: 0 auto 2em;
  }

  /**** content ****/

  .filler-content{
    height:10%;
    position: relative;
    z-index: -1;
  }

  
  .button-round {
    width: 12em;
    height: 4em;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .button-round:hover {
    background-color: #1bcfc9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
  }
  /***** Modal ********/
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 0.8em;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
  }
  
  .modal-content .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .modal-content .close:hover,
  .modal-content .close:focus {
    color: #1bcfc9;
    cursor: pointer;
  }
  
  .modal-content a{
      text-decoration: none;
      color: #1bcfc9;
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  

  /********** Footer ************/

  #footer ul{
    margin-right: 0.4em;
    list-style-type: none;
    text-align: left;
  }

  #footer ul li, p{
      margin-top: 0.6em;
      font-family: Arial, Helvetica, sans-serif;
  }

  #footer p{
    font-size: 10pt;
  }

  #footer ul li a:hover{
      color: #1bcfc9;
      cursor: pointer;
  }

  .footer-left-col li{
    text-align: left;
  }

  .footer-center-col li{
    text-align: center;
  }

  .footer-right-col{
    text-align: right;
  }

  #footer h5{
    border-left: 3px solid #eeeeee;
    color:#ffffff;
  }
