<template>
<!-- login modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content animate">
            <div class="imgcontainer">
                    <span onclick="document.getElementById('loginModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <i class="fa fa-user fa-10x primary"></i>
            </div>
            <form id="loginForm">
                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" class="w-100" placeholder="Enter Username" name="loginUsername" required>
                
                    <label for="pwd"><b>Password</b></label>
                    <input type="password" class="w-100" autocomplete="off" name="loginPwd" placeholder="Enter your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                        
                    <input type="submit" id="formsubmit1" class="button button-primary w-100 mb-3 mt-3" value="Login (html5 validation)">
                    <button id="loginSubmit" class="button button-primary w-100" @click="validateForm('login')">Login (js validation)</button>
                </div>
            </form>

            <form id="signupForm" style="display: none;">
                <div class="container">
                    <label for="email"><b>E-Mail Address</b></label>
                    <input type="email" name="email" class="w-100" placeholder="Enter your e-mail address" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>

                    <label for="username"><b>Username</b></label>
                    <input type="text" class="w-100" placeholder="Enter your username" name="username" minlength="3" required>
                
                    <label for="psw"><b>Password</b></label>
                    <input type="password" class="w-100" autocomplete="off" name="pwd" placeholder="Enter your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                        
                    <input type="submit" id="formsubmit1" class="button button-primary w-100 mb-3 mt-3" value="Register (html5 validation)">
                    <button id="registerSubmit" class="button button-primary w-100" @click="validateForm('register')">Register (js validation)</button>
                </div>
            </form>

            <div class="container text-right" style="background-color:#f1f1f1">
                <span id ="signupLink" @click="toggleSignupForm"><a href="javascript:void(0);">Sign up</a></span>
            </div>
        </div>            
    </div>
</template>

<script>
export default {
    name: 'Login',
    methods: {
        toggleSignupForm(){
            if(document.getElementById('loginForm').style.display === 'none'){
                document.getElementById('loginForm').style.display = 'block';
                document.getElementById('signupForm').style.display = 'none';
                event.target.text = 'Sign up';
            }else{
                document.getElementById('signupForm').style.display = 'block';
                document.getElementById('loginForm').style.display = 'none';
                event.target.text = 'Back to login';
            }
        },
        validateForm(type){
            if(type === 'register'){
                let email = document.querySelector('input[name="email"]').value;
                let username = document.querySelector('input[name="username"]').value;
                let pwd = document.querySelector('input[name="pwd"]').value;

                if(this.validateInputField('username', username, document.querySelector('input[name="username"]'))){
                    if(this.validateInputField('email', email, document.querySelector('input[name="email"]'))){
                        if(this.validateInputField('pwd', pwd, document.querySelector('input[name="pwd"]'))){
                            //do register
                            this.showSnackbar('Registration successful!', 'success');
                        }
                    }
                }
            }else if(type === 'login'){
                let username = document.querySelector('input[name="loginUsername"]').value;
                let pwd = document.querySelector('input[name="loginPwd"]').value;

                if(this.validateInputField('loginUsername', username, document.querySelector('input[name="loginUsername"]'))){
                    if(this.validateInputField('loginPwd', pwd, document.querySelector('input[name="loginPwd"]'))){
                        //do login
                        this.showSnackbar('Login successful!', 'success');
                    }
                }
            }else if(type === 'newsletter'){
                let email = document.querySelector('#newsletterForm input[name="email"]').value;

                if(this.validateInputField('email', email, document.querySelector('#newsletterForm input[name="email"]'))){
                    this.showSnackbar('Successfully subscribed', 'success');
                }
            }
        },

        validateInputField(type, value, element){
            //validate if value is not empty
            if(value !== undefined && value.length > 0){
                let regex = '';

                if(type === 'email'){
                    regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                }else if(type === 'username' || type === 'loginUsername'){
                    regex = /^.{3,}$/;
                }else{
                    regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/g;
                }

                if(regex.test(String(value)) === true){
                    return true;
                }else{
                    this.showSnackbar('Wrong ' + type + ' format!', 'danger');
                    this.markInvalid(element);
                    return false;
                }

            }else{
                this.showSnackbar('Wrong ' + type + ' format!', 'danger');
                this.markInvalid(element);
            }
        },

        //marks an input field as invalid
        markInvalid(element){
            this.removeInvalidState();
            element.classList.add('invalid');
            let self = this;
            setTimeout(function(){
                self.removeInvalidState();
            }, 3000);
        },

        removeInvalidState(){
            //remove invalid state from all input fields
            document.querySelectorAll('input').forEach(function(element){
                element.classList.remove('invalid');
            })
        },

        hideSnackbars(){
            let alerts = document.querySelectorAll('.alert-box');   //get all alert boxes, there could be more

            alerts.forEach(function(element){
                element.parentNode.removeChild(element);
            })
        },

        //shows snackbar message with specific type and text to user
        showSnackbar(text, type){
            let alertBox = document.createElement('div');

            alertBox.classList.add('alert-box');
            alertBox.classList.add(type);

            let closeBtn = document.createElement('span');
            closeBtn.classList.add('closeBtn');
            closeBtn.innerHTML = "x";
            closeBtn.addEventListener("click", this.hideSnackbars);

            alertBox.appendChild(closeBtn);

            let u_text = document.createTextNode(text);
            alertBox.appendChild(u_text);

            document.body.appendChild(alertBox);

            let self = this;
            setTimeout(function(){ //show message for 3 seconds
                var element = document.querySelector('.alert-box');
                if(element !== null && element !== undefined){ //alert box could be closed before
                    self.hideSnackbars();
                }
            }, 3000)
        }
    }
}
</script>

<style>

  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 1em;
    margin-top: 4em;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
  }
  
  .modal-content .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .modal-content .close:hover,
  .modal-content .close:focus {
    color: #1bcfc9;
    cursor: pointer;
  }
  
  .modal-content a{
      text-decoration: none;
      color: #1bcfc9;
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  

</style>