<template>
  <div class="grid-container col-2 m-6">
    <div class="grid-item">
        <h1 class="primary underline"><a href="https://www.google.com" target="_blank">Google</a></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="grid-item">
        <h1 class="primary underline"><a href="https://www.wikipedia.com" target="_blank">Wikipedia</a></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="grid-item">
        <h1 class="primary underline"><a>Link 3</a></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="grid-item">
        <h1 class="primary underline"><a>Link 4</a></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="grid-item">
        <h1 class="primary underline"><a>Link 5</a></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="grid-item">
        <h1 class="primary underline"><a>Link 6</a></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'External',
  }
</script>