<template>
  <section class="grid-container col-1 blue p-5">
    <div class="grid-item text-color-white">
        <h1 class="text-uppercase">subscribe to our newsletter</h1>
        <p>To subscribe to our <b>awesome</b> newsletter <i>just</i> enter your e-mail address and press <strong>subscribe!</strong></p>
    </div>
    <div class="grid-item">
        <form id="newsletterForm">
            <input class="w-50" type="email" name="email" placeholder="Enter your e-mail address"/>
        </form>
    </div>
    <div class="grid-item">
        <button id="submitNewsletter" @click="validateForm('newsletter')" class="button-round">Subscribe</button>
    </div>
  </section>
</template>

<script>

export default {
  name: 'home',
  components: {
    
  },
  methods: {
    validateForm(type){
            if(type === 'newsletter'){
                let email = document.querySelector('#newsletterForm input[name="email"]').value;

                if(this.validateInputField('email', email, document.querySelector('#newsletterForm input[name="email"]'))){
                    this.showSnackbar('Successfully subscribed', 'success');
                }
            }
        },

        validateInputField(type, value, element){
            //validate if value is not empty
            if(value !== undefined && value.length > 0){
                let regex = '';

                if(type === 'email'){
                    regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                }else if(type === 'username' || type === 'loginUsername'){
                    regex = /^.{3,}$/;
                }else{
                    regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/g;
                }

                if(regex.test(String(value)) === true){
                    return true;
                }else{
                    this.showSnackbar('Wrong ' + type + ' format!', 'danger');
                    this.markInvalid(element);
                    return false;
                }

            }else{
                this.showSnackbar('Wrong ' + type + ' format!', 'danger');
                this.markInvalid(element);
            }
        },

        //marks an input field as invalid
        markInvalid(element){
            this.removeInvalidState();
            element.classList.add('invalid');
            let self = this;
            setTimeout(function(){
                self.removeInvalidState();
            }, 3000);
        },

        removeInvalidState(){
            //remove invalid state from all input fields
            document.querySelectorAll('input').forEach(function(element){
                element.classList.remove('invalid');
            })
        },

        hideSnackbars(){
            let alerts = document.querySelectorAll('.alert-box');   //get all alert boxes, there could be more

            alerts.forEach(function(element){
                element.parentNode.removeChild(element);
            })
        },

        //shows snackbar message with specific type and text to user
        showSnackbar(text, type){
            let alertBox = document.createElement('div');

            alertBox.classList.add('alert-box');
            alertBox.classList.add(type);

            let closeBtn = document.createElement('span');
            closeBtn.classList.add('closeBtn');
            closeBtn.innerHTML = "x";
            closeBtn.addEventListener("click", this.hideSnackbars);

            alertBox.appendChild(closeBtn);

            let u_text = document.createTextNode(text);
            alertBox.appendChild(u_text);

            document.body.appendChild(alertBox);

            let self = this;
            setTimeout(function(){ //show message for 3 seconds
                var element = document.querySelector('.alert-box');
                if(element !== null && element !== undefined){ //alert box could be closed before
                    self.hideSnackbars();
                }
            }, 3000)
        }
  }
}
</script>
