<template>
  <div class="pl-4 background-color-dark">
    <h1 class="primary">Table Contents</h1>

    <div class="svg-wrapper">
      <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
      </svg>
      <div class="text">HOVER ME</div>
    </div>

    <input type="text" id="searchInput" v-on:keyup="searchFunction(this)" v-model="searchVal" placeholder="Search by name...">
    <table>
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in filteredDesserts" :key="item.name">
          <td>{{ item.name }}</td>
          <td>{{ item.calories }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</template>

<script>
  export default {
    name: "Table",
    data () {
      return {
        searchVal: '',
        filteredDesserts: [],
        desserts: [
          {
            name: 'Frozen Yogurt',
            calories: 159,
          },
          {
            name: 'Ice cream sandwich',
            calories: 237,
          },
          {
            name: 'Eclair',
            calories: 262,
          },
          {
            name: 'Cupcake',
            calories: 305,
          },
          {
            name: 'Gingerbread',
            calories: 356,
          },
          {
            name: 'Jelly bean',
            calories: 375,
          },
          {
            name: 'Lollipop',
            calories: 392,
          },
          {
            name: 'Honeycomb',
            calories: 408,
          },
          {
            name: 'Donut',
            calories: 452,
          },
          {
            name: 'KitKat',
            calories: 518,
          },
        ],
      }
    },
    created(){
      this.filteredDesserts = this.desserts;
    },
    methods: {
      searchFunction(elem){
        let u_self = this;

        if(this.searchVal !== undefined && this.searchVal.length > 0){
          this.filteredDesserts = [];
          this.desserts.forEach(function(dessert){
            if(dessert.name.toLowerCase().indexOf(u_self.searchVal.toLowerCase()) > -1){
              u_self.filteredDesserts.push(dessert);
            }
          });
        }else{
          this.filteredDesserts = this.desserts;
        }
      }
    }
  }
</script>

<style scoped>
  .pl-4{
    padding: 3em;
  }
  #searchInput {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 1em;
  }

  html, body {
  background: #333;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.svg-wrapper {
  height: 60px;
    margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

table td, th{
  color: #fff;
  border-color: #fff;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
</style>