<template>
  <div class="grid-container col-1 m-6">
    <div class="grid-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MXXRHpVed3M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Videos',
  }
</script>