<template>
    <div class="header-banner" >
        <div class="header-text">
            <hr>
            <h1 class="text-uppercase">{{title}}</h1>
            <p>{{text}}</p>
        </div>
    </div>
</template>

<script>
import backgroundUrl from '../../assets/images/businessman-3213659_1920.jpg'
export default {
    name: 'HeaderBanner',
    props:{
        title: String,
        text: String
    },
    data() {
        return {
            backgroundUrl
        }
    },
    created(){
        console.log(backgroundUrl)
    }
}
</script>

<style>
  .header-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/businessman-3213659_1920.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
  }

  .header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .header-text p{
      line-height: 2em;
  }

  hr {
    border-color: #1bcfc9;
    width: 8em;
    clear: both;
    display: block;
    border: none;
    border-top: 6px solid #1bcfc9;
    margin: 0 auto 2em;
  }

</style>
