<template>
    <nav class="topnav" id="topnav">
      <a href="javascript:void(0);" class="menu-right icon" @click="openSidebar" id="menu-icon">
          <div class="nav-icon">
              <div></div>
          </div>
      </a>
      <a href="javascript:void(0);" id="signup" @click="showLoginModal" class="menu-link menu-right text-uppercase">Sign up</a>
    </nav>
</template>

<script>
export default {
    name: 'Navbar',
    methods: {
        openSidebar() {
            let target = document.querySelector(".sidebar");
            let element = event.target;
            if(!element.classList.contains('nav-icon')){//check if inner div is clicked
                element = document.querySelector('.nav-icon');
            }
            if (element.classList.contains('change')) {
                element.classList.remove("change");
                target.style.width = "0px";
            }else{
                element.classList.add("change");
                target.style.width = "20%";
            }
        },

        showLoginModal() {
            document.getElementById('loginModal').style.display = 'block';
        },

        toggleSignupForm(){
            if(document.getElementById('loginForm').style.display === 'none'){
                document.getElementById('loginForm').style.display = 'block';
                document.getElementById('signupForm').style.display = 'none';
                event.target.text = 'Sign up';
            }else{
                document.getElementById('signupForm').style.display = 'block';
                document.getElementById('loginForm').style.display = 'none';
                event.target.text = 'Back to login';
            }
        }
    }
}
</script>

<style scoped>
.nav-dark{
    background: rgba(0,0,0,0.2);
}

.nav-icon {
    margin: 1em;
    width: 40px;
}
  
.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}
  
.nav-icon:hover div, 
.nav-icon:hover:after, 
.nav-icon:hover:before {
    background-color: #1bcfc9;
}

.nav-icon.change::before{
    transform: translateY(12px) rotate(135deg);
}
.nav-icon.change::after{
    transform: translateY(-12px) rotate(-135deg);
}
.nav-icon.change div {
    transform: scale(0);
}

nav {
    overflow: hidden;
    width: 100%;
    z-index: 202;
}
  
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
nav a:hover {
    color: #1bcfc9;
}

nav a.active {
    background-color: #1bcfc9;
    color: white;
}

nav a.menu-right {
    float: right;
    display: block;
}

nav a.nav-logo{
    margin: 1em;
}

nav a.menu-link{
    margin: 1em;
    font-weight: 600;
    margin-right: 0;
    margin-top: 1.3em;
}


@media only screen and (max-width: 925px){
    nav {
        background: rgba(0,0,0,0.2);
    }
}

@media only screen and (min-width: 64.063em){
    nav {
        position: fixed;
        top: 0;
        z-index: 9999;
    }

    nav.fixed {
        padding-top: 0.8em;
        background: rgba(0,0,0,0.2);
    }
}

</style>