<template>
    <div class="sidebar">
        <div class="sidebar-spacer">
        </div>
        <div class="nav-item" v-for="item in items"  v-bind:key="item.to">
          <navbar-sidebar-item :name="item.name" :to="item.to"></navbar-sidebar-item>
        </div>
        <!--
        <a class="active" href="javascript:void(0);" id="home">Home</a>
        <a href="javascript:void(0);" id="videos">Videos</a>
        <router-link to="/">Home</router-link>
        <a href="javascript:void(0);" id="table">Tables</a>
        <a href="javascript:void(0);" id="about">About</a>
        <a href="javascript:void(0);" id="externalLinks">External Links</a>
        -->
    </div>
</template>

<script>
 import NavbarSidebarItem from '@/components/Navbar/NavbarSidebarItem'
 import { mapState, mapActions } from 'vuex'

  export default {
        name: 'NavbarSidebar',
        data() {
          return{
            items: [//list of navitems from router
                { name: 'Home',
                  to: '/'},
                { name: 'About',
                  to: '/about'},
                { name: 'External',
                  to: '/external'},
                { name: 'Table',
                  to: '/table'},
                { name: 'Videos',
                  to: '/videos'}
            ]
          }
        },
        created: function () {
          /*
          if(this.account.user === null){
            this.items = [
              { name: 'Home',
                  to: '/'},
                { name: 'About',
                  to: '/about'},
                { name: 'External',
                  to: '/external'},
                { name: 'Videos',
                  to: '/videos'}
            ]
          }
          */
        },
        components: {
          NavbarSidebarItem
        },
        computed: {
          ...mapState({
              account: state => state.account
          })
        },
    }
</script>

<style>

  .sidebar {
    right:0;
    background-color: #3F4C58;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition:width 1s ease-out;
    width:0;
    overflow:hidden;
    width: 0px;
    z-index: 200;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    border-bottom: 2px solid white;
    margin: 1em 1em;
  }

  .sidebar a:hover {
    color: #1bcfc9;
    border-bottom: 2px solid #1bcfc9;
  }
   
  .sidebar a.active {
    color: #1bcfc9;
    border-bottom: 2px solid #1bcfc9;
  }

  .sidebar-spacer{
    min-height: 15%;
  }

  @media screen and (max-width: 600px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: absolute;
    }
    .menu-right.icon{
        display: none;
    }
    section{
        position: relative;
    }
    .header-banner{
        height: 100% !important;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
</style>