<template>
  <div id="footer" class="grid-container col-3 background-color-dark text-color-light">
      <div class="grid-item footer-left-col ml-3">
          <h3 class="text-left">Quick links</h3>
          <ul>
              <li><a>About</a></li>
              <li><a>More</a></li>
          </ul>
      </div>
      <div class="grid-item footer-center-col">
          
      </div>
      <div class="grid-item footer-right-col mr-3">
          <h3>Address</h3>
          <p>Somestreet 1, 1140 Vienna</p>
          <p>Austria</p>
          <p>Copyright by Leon</p>
      </div>
  </div>
</template>

<script>
export default {
  name: 'AppFooter',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
