<template>
  <div id="app">
    <navbar></navbar>
    <navbar-sidebar></navbar-sidebar>
    <header-banner v-bind:title=headerTitle v-bind:text=headerText></header-banner>
    <login></login>
    <router-view style="margin-top: 4em; margin-bottom: 4em"/>
    <app-footer></app-footer>
  </div>

</template>

<script>
import Navbar from '@/components/Navbar/Navbar.vue'
import NavbarSidebar from '@/components/Navbar/NavbarSidebar.vue'
import HeaderBanner from '@/components/Navbar/HeaderBanner.vue'
import AppFooter from '@/components/AppFooter.vue'
import Login from '@/components/LoginRegister/Login.vue'

import { mapState, mapActions } from 'vuex'

export default {
  name: 'home',
  data: function(){
    return{ 
      headerTitle: "Lorem ipsum dolor sit amet",
      headerText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    }
  },
  components: {
    Navbar,
    NavbarSidebar,
    HeaderBanner,
    AppFooter,
    Login
  },
  computed: {

  },
  created(){
    window.addEventListener('scroll', this.scrollFunction);
    window.onclick = function(event) {
      var modal = document.getElementById('loginModal');

      if (event.target == modal) {
          modal.style.display = "none";
      }
    }
  },
  methods: {
    scrollFunction(){
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.querySelector(".topnav").classList.add('fixed');
      } else {
        document.querySelector(".topnav").classList.remove('fixed');
      }
    }
    
  }
}
</script>

<style>
#app{
    height: 100%;
}

.pl-4{
  padding: 3em;
}
</style>
